# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Flask
instance/
.webassets-cache

# Virtual Environment
venv/
ENV/

# SQLite databases
*.sqlite
*.db

# Environment variables
.env
.env.*

# IDE
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# Logs
logs/
*.log

# Uploaded files
app/static/uploads/

# Mac
.DS_Store

# Coverage
.coverage
htmlcov/
coverage.xml